.root {
    /*-fx-hgap: 20px;*/
    -fx-background-size: 100% 100%;
    /*-fx-padding: 40px;*/

    /*-fx-background-color: #36454f;*/
    /*-fx-border-radius: 50px;*/
    /*-fx-border-width: 5px;*/
    /*-fx-effect: dropshadow(three-pass-box, #0E1D32, 10, 0, 4, 4);*/
    /*-fx-background-insets: 12;*/
    /*-fx-background-radius: 6;*/
}

.button {
    /*-fx-hgap: 50px;*/
    /*-fx-padding: 4px;*/

    /*-fx-background-radius: 18;*/
    /*-fx-background-radius: 30 30 30 30;*/
    /*-fx-border-radius: 70px;*/
    /*-fx-border-width: 1px;*/
    /*-fx-border-color: black;*/
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-text-fill: black;
}


.button:hover {
    -fx-background-color: #512DA8;
    -fx-text-fill: white;
}

.button:pressed {
}

.combo-box {
}

.combo-box:hover {
}

.combo-box:pressed {
}


#btnSignIn {
}

#pnRoot {
    /*-fx-background-color: rgba(0, 0, 0, 0.3);*/
    -fx-background-image: url(../../images/book-read-reading-books.jpg);
    -fx-background-size: 100%;
    -fx-border-radius: 50;
}
.mfx-text-field {
    -fx-background-color: white;
    -fx-text-fill: black;
}